# Ignore folders
recordings/
old/
build/
dist/

# General Python ignores
*.pyc
*.pyo
__pycache__/
*.pyd
.Python

# Virtual environment
env/
venv/
ENV/
VENV/
*.env
*.venv

# IDE-specific ignores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db
__pycache__/recorder.cpython-311.pyc
__pycache__/recorder.cpython-311.pyc
config.json
app.spec